@model List<SE_Project.Models.User>
@{
    ViewData["Title"] = "Index";

}
<h3>Index</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>DoB</th>
            <th>Role</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.BirthDate</td>
                <td>@user.Role</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>


