@model List<SE_Project.Models.PlaylistSong>
@{
    ViewData["Title"] = ViewBag.PlaylistName ?? "Playlist";
    Layout = "_LayoutHome";
}

<div class="container mt-4 text-white">
    <h2 class="mb-4">🎵 </h2>



    <div class="songs-row" id="playlist-songs-container">
        @foreach (var song in Model)
        {
            var _song = song.Song;
            <div class="song-card" id="playlist-song-@song.Id"
                 onclick="playSong(@_song.Id, '@_song.AudioUrl'),
                                                    @Html.Raw(Json.Serialize(song.Song?.Title)),
                                                    @Html.Raw(Json.Serialize(song.Song?.Artist)),
                                                    @Html.Raw(Json.Serialize(song.Song?.ThumbnailUrl)))">

                <img src="@song.Song.ThumbnailUrl" class="song-image" />
                <div class="song-title">@song.Song.Title</div>
                <div class="song-artist">@song.Song.Artist</div>
                <div class="song-playcount text-muted" style="font-size: 0.8em;">
                    <i class="fa fa-play me-1"></i> @song.Song.PlayCount ascultări
                </div>
            </div>
        }
    </div>
</div>
